<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>ATEST Flask Uploader</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <h1>Ordered Rectangular Pooling Tool</h1>
   </head>
   <body>
      <h1>Instructions</h1>
      <p>The uploaded file must be a '.csv' file and should have the following data: initial probability,
         current probability, provider ID, user key, sample ID, positive, and test number.</p>
      <h2>Upload File</h2>
      <!--Upload File form for csv's -->
      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <p><input type = "file" name = "file" /></p>
         <p><input type = "submit"/></p>
      </form>
      <!--Alternative form allowing the user to upload data manually
      <h2>Or</h2>
      <h2>Enter Data Manually</h2>

         Data from provider should be: Initial probability, sample identifiers (comma separated list of values),
         provider ID, for other values can just use generateSamples with positivity rate and have that gen values.


      <form action= "http://localhost:5000/manual-entry" method = "POST">
         <p>Probability of Infection <input type = "text" name = "pInfection" size="50"/></p>
         <p>Sample Identifiers <input type = "text" name = "sampleIdentifiers" size="50" /></p>
         <p>Provider ID <input type = "text" name = "providerID" size="50"/></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      -->
   </body>
</html>