<!DOCTYPE html>
<html lang="en">
    <head>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ATEST</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Tool</a>
                        <a class="nav-link" href="/example">Examples</a>
                    </div>
                </div>
            </div>
        </nav>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>ATEST Flask Uploader</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>Ordered Rectangular Pooling Tool</h1>
        <h1>Instructions</h1>
        <p>The uploaded file must be a '.csv' file and should have the following data: initial probability,
            current probability, provider ID, user key, sample ID, positive, and test number.</p>
        <h2>Upload File</h2>
        <!--Upload File form for csv's -->
        <form action = "http://localhost:5000/uploader" method = "POST"
            enctype = "multipart/form-data">
            <p><input type = "file" name = "file" /></p>
            <p><input type = "submit"/></p>
        </form>


        <h2>Or</h2>
        <h2>Enter Positive Rows and Columns</h2>
        <p>Enter rows and columns that tested positive in a space separated list. Rows: "2 4 5" Columns: "1 2 5"</p>
        <p>Submit only the pool that you are entering positive rows and columns for. The excel or csv file should
            have no headers or additional information.</p>
        <form action= "http://localhost:5000/intersection" method = "POST" enctype="multipart/form-data">
            <p>Positive Rows <input type = "text" name = "positiveR" size="50"/></p>
            <p>Positive Columns <input type = "text" name = "positiveC" size = "50"/></p>
            <p><input type = "file" name = "file" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </body>
</html>
